html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: sans-serif;
  line-height: 1;
}

img {
  max-width: 100%;
}

button {
	cursor: pointer;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.header {
	padding: 25px 15px;
	background-color: #1d2126;
}

.wrapper {
	padding: 0 15px;
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
}

.section-title {
	padding-left: 10px;
	font-size: 36px;
	color: #292f36;
	margin-bottom: 50px;
	text-transform: uppercase;
	border-left: 10px solid #e1e6ea; 
}

.header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .nav {
	display: flex;
}

.header .nav a {
	color: #a4aead;
	font-size: 14px;
	display: block;
	padding: 7px 10px;
	transition: all 0.3s;
	border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 3px;
	border: 1px solid transparent;
}

.header .nav a:hover {
	border-color: #a4aead;
}

.header .nav .active {
	border-color: #23b7a4;
	color: #23b7a4;
}

.banner {
	display: flex;
	align-items: center;
	height: 650px;
	background: url('./images/banner.jpg') no-repeat center center;
	background-size: cover;
}

.banner .title {
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.banner .text {
	line-height: 25px;
	color: #ccd0d7;
	font-size: 16px;
	margin-bottom: 40px;
}

.banner .buttons {
	display: flex;
	align-items: center;
}

.banner .button:first-child {
	margin-right: 15px;
}

.banner .button {
	display: block;
	padding: 15px 0px;
	color: #fff;
	border: 2px solid #fff;
	text-transform: uppercase;
	border-radius: 4px;
	font-size: 14px;
	background: none;
	min-width: 120px;
	transition: all 0.3s;
	cursor: pointer;
}

.banner .button:hover {
	border-color: #23b7a4;
	background-color: #23b7a4;
}

.section-modest {
	padding: 70px 0;
	border-bottom: 1px solid #dde1e4;
}
.section-modest .row {
	display: flex;
}

.section-modest .col {
	flex: 1;
}

.section-modest .col:last-child {
	margin-left: 30px;
}

.section-modest .text {
	margin-bottom: 30px;
	font-size: 16px;
	color: #8d8f92;
	line-height: 24px;
}

.section-modest .text:last-child {
	margin-bottom: 50px;
}

.section-modest .item {
	display: flex;
	margin-bottom: 30px;
}
.section-modest .item:last-child {
	margin-bottom: 0;
}

.section-modest .item-content {
	flex: 1;
}

.section-modest .item_number {
	width: 50px;
	height: 50px;
	display: flex;
	background-color: #23b7a4;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

.section-modest .number-text {
	font-size: 20px;
	color: #fff;
}

.section-modest .item-title {
	font-size: 18px;
	color: #292f36;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.section-modest .item-text {
	font-size: 16px;
	color: #8d8f92;
	line-height: 24px;
}

.section-modest .social {
	display: flex;
}

.section-modest .social-btn {
	width: 55px;
	transition: 0.3s;
	background-color: #c8cdd0;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 3px;
}

.section-modest .social-btn:last-child {
	margin-right: 0;
}


.section-team {
	padding: 70px 0;
}

.section-team .box-img {
	height: 300px;
	position: relative;
}

.section-team .box-img .avatar {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.section-team .boxes {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.section-team .boxes .box {
	width: 260px;
	margin: 0 15px;
}

.section-team .hideBlock {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: 0.3s;
	background-color: rgba(255,255,255,0.3);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
}

.section-team .hideBlock .social {
	display: flex;
}

.section-team .hideBlock .social .social-item {
	width: 50px;
	height: 50px;
	background-color: #3a454d;
	display: flex;
	align-items: center;
	margin: 0 2px;
	justify-content: center;
}

.section-team .box-info {
	height: 75px;
	padding: 0 15px;
	transition: 0.3s;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-color: #e1e6ea;
}
.section-team .box .name {
	margin-bottom: 10px;
	font-size: 16px;
	color: #292f36;
	text-transform: uppercase;
}

.section-team .box .position {
	color: #8d8f92;
	font-size: 14px;
}

@keyframes anim {
	from {
		margin-top: -20px;
	}
	to {
		margin-top: 0px;
	}
}

.section-team .boxes .box:hover .hideBlock {
	visibility: visible;
	opacity: 1;
}

.section-team .boxes .box:hover .social{
	animation: anim 0.3s forwards;
}

.section-team .boxes .box:hover .box-info{
	background-color: #3a454d;
}

.section-team .boxes .box:hover .name {
	color: #fff;
}
.section-team .boxes .box:hover .position {
	color: #fff;
}


.section-work {
	padding: 70px 0;
	background-color: #3a454d;
}

.section-work .section-title {
	color: #fff;
}

.section-work .boxes {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.section-work .boxes .box {
	width: 360px;
	position: relative;
	margin: 0 15px 25px 15px;
}

.section-work .box .hideBlock {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	opacity: 0;
}

.section-work .box:hover .hideBlock {
	opacity: 1;
}

.section-work .box .hideBlock .img {
	flex: 1;
	background-color: rgba(0,0,0,0.3);
}

.section-work .box .hideBlock .footer {
	background-color: #292f36;
	padding: 0 15px;
	min-height: 60px;
	display: flex;
	align-items: center;
}

.section-work .box .hideBlock .footer-text {
	color: #fff;
}


/*----START MEDIA QUERIES----*/
@media (max-width: 1100px) {
	.wrapper {
		width: auto;
	}
	.section-team .boxes {
		margin: 0;
		justify-content: center;
	}
	.section-team .boxes .box {
		width: calc(50% - 30px);
		max-width: 350px;
		margin-bottom: 25px;
	}
	.section-modest .row {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.section-modest .col {
		margin-bottom: 20px;
	}
	.section-modest .col:last-child {
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.banner {
		height: 400px;
	}
	.section-modest {
		padding: 30px 0;
	}
	.section-team {
		padding: 30px 0;
	}
}

@media (max-width: 480px) {
	.section-team .boxes .box {
		margin: 0 0 15px 0;
	}
	.header .wrapper {
		padding: 0;
		flex-direction: column;
	}
	.header .logo {
		margin-bottom: 15px;
	}
	.section-team .boxes .box {
		width: 100%;
	}
	.header .nav {
		flex-direction: column;
	}
	.header .nav a {
		margin: 10px 0 0px 0;
	}
	.banner .title {
    font-size: 26px;
    line-height: 34px;
	}
	.banner {
		background-position: 60% 100%;
	}
	.banner .buttons {
		flex-direction: column;
	}
	.banner .button:first-child {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.banner .button {
		width: 100%;
	}
	.banner {
		padding: 20px 0;
	}
}
