.banner {
  display: flex;
	align-items: center;
	height: 650px;
	background: url('./images/banner.jpg') no-repeat center center;
  background-size: cover;
  .title {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .text {
    line-height: 25px;
    color: #ccd0d7;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .buttons {
    display: flex;
    align-items: center;
  }
  .button {
    display: block;
    padding: 15px 0px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 14px;
    background: none;
    min-width: 120px;
    transition: all 0.3s;
    cursor: pointer;
    &:first-child {
      margin-right: 15px;
    }
    &:hover {
      border-color: #23b7a4;
	    background-color: #23b7a4;
    }
  }
}
